@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/yellow.css";

:root {
  --text: var(--blue12);
  --background: white;
}

body {
  color: var(--text);
  background: var(--background);
}